/*---------Poppins-Light---------*/
@font-face {
  src: url(../fonts/Poppins-Light.ttf);
  font-family: "Poppins-Light";
}
/*---------PoppinsThin---------*/
@font-face {
  src: url(../fonts/Poppins-Thin.ttf);
  font-family: "PoppinsThin";
}
/*---------FJORD----------------------*/
@font-face {
  src: url(../fonts/FjordOne-Regular.ttf);
  font-family: "Fjord One", serif;
}
/*---------LATO----------------------*/
@font-face {
  src: url(../fonts/Lato-Regular.ttf);
  font-family: "Lato-Regular";
}

@font-face {
  src: url(../fonts/Lato-Light.ttf);
  font-family: "Lato-light";
}

/*---------Briar----------------------*/
@font-face {
  src: url(../fonts/BriarDisplay.woff);
  font-family: "BriarDisplay";
}
@font-face {
  src: url(../fonts/BriarNeue.woff);
  font-family: "BriarNeue";
}
/*---------Syncopate---niceo-ne------------------*/
@font-face {
  src: url(../fonts/Syncopate-Regular.ttf);
  font-family: "Syncopate-Regular";
}

@font-face {
  src: url(../fonts/Syncopate-Bold.ttf);
  font-family: "Syncopate-Bold";
}

/*---------Rajdhani----------------------*/

@font-face {
  src: url(../fonts/Rajdhani-Medium.ttf);
  font-family: "Rajdhani-Medium";
}

//
