// @import url("https://fonts.googleapis.com/css?family=Oswald:300;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap");

@import "_fonts";
//
//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;

  //
  //to prevent copy text
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  // background-color: #ffffff;
  overflow-x: hidden;
  min-height: 100vh;

  //
  //
  .page {
    display: flex;
    flex-wrap: wrap;
  }
}

//
//
